@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
  font-size: 4em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

h4 {
  font-size: 3em;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

#section1 {
  color: #fff;
}
.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
}

.profile-pic {
  width: 25%;
  
}

p {
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.thumbnails {
  border-radius: 25px;
  
}

h2 {
  color:#fff;
  font-size: 1.5em;
  font-weight: 600;
}